<div fxLayout="row" id="container" ngxSplit="row">
  <div fxFlex="20%" fxFlexFill ngxSplitArea
    [ngStyle]="{'display': 'none'}"
    class="left-side"
  >
    <elements-left-bar></elements-left-bar>
  </div>
  <div ngxSplitHandle (mouseup)="dragSplitBtn($event)" class="handle handle-row"
       [ngStyle]="{'display': 'none'}" >
    <i class="fa fa-window-minimize" style="color: white"></i>
  </div>
  <div [fxFlex]="'100%'" fxFlexFill ngxSplitArea class="content">
    <elements-content></elements-content>
  </div>
</div>
